@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-primary-200;
  }

  body {
    @apply bg-white text-primary-900;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
